footer{
    width: 100%;
    height: 100px;
    background-color: aqua;
}
.footer-menu{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}
.footer-links{
    display: flex;
}
.footer-links li{
    list-style-type: none;
    margin: 0px 20px;
    color: #000;
}
.copy-write{
    color: #fff;
    font-size: 24px;
}